html{
  height:100%;
}
html, body{
  font-size: 14px;
  line-height: 14px;
  color:#333;
  font-weight: normal;
  font-family: 'dotum', '돋움', sans-serif; 
}
html, body, form, div, p, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6 {
  border: 0;
  margin: 0;
  padding: 0;
}
ul,ol,dl{
  list-style: none;;
  line-height: 1.5em
}
h1 {
    font-weight: bold;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
}
caption{
  display: none
}
/* input 태그 초기화 */
input {
    margin: 0; 
}
input[type=text],input[type=password]{
  border:1px solid #ddd;
  padding:8px 5px 7px;
  width: 90%;
  color:#666;
}
input[type=radio]{
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 12px;
  height: 12px;
}
input[type=checkbox]{
  width:15px;
  height: 15px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top:-1px;
}
textarea{
  border:1px solid #ddd;
  width: 100%;
}

/* Select */
select {
  width: 100%;
  border:1px solid #ddd;
  padding:6px 4px;
  border-radius: 0;
  -webkit-appearance: none; 
  -moz-appearance: none;    
  appearance: none;
  background: url('../img/common/select-arrow.png') no-repeat 95% 50%; /* 화살표 아이콘 추가 */       
  color:#666;
}
select::-ms-expand {
   display: none;            
}
img{
  max-width:100%;
}

/* img 태그의 외곽선 제거 */
a{ 
  text-decoration: none;
  display: inline-block;
  color:#333;
}
a img {
    border: 0;
    vertical-align: bottom
}
button{
  margin: 0;
  padding: 0;
  border:0;
  background:none;
  cursor: pointer;
  outline: none;
}
button:focus{
  outline:none;
}
label{
  font-size:12px;
  font-weight: bold;
  color:#333;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

.block{display: block;}

.bold{font-weight: bold;}
.normal{font-weight: normal;}
.underline{text-decoration: underline;}

.pull-left{float:left;}
.pull-right{float:right;}

.long_select{background-position:98% center;}

.yellow{color:#f6c23e}
.green{color:#1cc88a}
.red{color:#e74a3b}