h1.title {
  font-family: "NanumSquareRound", sans-serif;
  font-size: 2rem;
  font-weight: 800;
  line-height: 1;
  color: #04253a;
}

#page-top > header {
  padding: 0 0.75rem;
}

/* 월드맵 css 시작 */
.mapTextbox {
  position: absolute;
  width: 220px;
  height: 100px;
  margin: -100px 0 -100px 0;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 2px 1px rgba(69, 73, 79, 0.4);
}

.mapTextbox::after {
  content: "";
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 0) 51%,
    rgba(255, 255, 255, 0) 100%
  );
  box-shadow: -2px 2px 2px 0 rgba(69, 73, 79, 0.4);
  height: 15px;
  left: 50%;
  position: absolute;
  bottom: -15px;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 15px;
}

.list-countryInfo {
  padding: 10px 5px 0;
  overflow: hidden;
}

.list-countryInfo div {
  overflow: hidden;
}

.list-countryInfo dt,
.list-countryInfo dd {
  float: left;
  line-height: 1;
  font-size: 12px;
}

.list-countryInfo dd {
  margin-left: 3px;
}

/* 월드맵 css끝 */

/* myAreaChart_three 입도현황 여백 */
#myAreaChart_three {
  padding-bottom: 1.5rem;
}

/* 텍스트 숨기기 */
.ir-txt {
  display: block;
  overflow: hidden;
  text-indent: -9999px;
  font-size: 1px;
}

/* 현황 높이 맞춤 */
.status-now .card-body {
  padding: 2.4rem 0 2.25rem;
}
.status-detail .card-body .progress {
  width: 100%;
}
