h1.title {
  font-family: "NanumSquareRound", sans-serif;
  font-size: 2rem;
  font-weight: 800;
  line-height: 1;
  color: #04253a;
}

#page-top > header {
  /* padding: 0 0.75rem; */
}

/* 월드맵 css 시작 */
.mapTextbox {
  position: absolute;
  width: 220px;
  height: 100px;
  margin: -100px 0 -100px 0;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 2px 1px rgba(69, 73, 79, 0.4);
  z-index:99999;
}

.mapTextbox::after {
  content: "";
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 0) 51%,
    rgba(255, 255, 255, 0) 100%
  );
  box-shadow: -2px 2px 2px 0 rgba(69, 73, 79, 0.4);
  height: 15px;
  left: 50%;
  position: absolute;
  bottom: -15px;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 15px;
}

.list-countryInfo {
  padding: 10px 5px 0;
  overflow: hidden;
}

.list-countryInfo div {
  overflow: hidden;
}

.list-countryInfo dt,
.list-countryInfo dd {
  float: left;
  line-height: 1;
  font-size: 12px;
}

.list-countryInfo dd {
  margin-left: 3px;
}

/* 월드맵 css끝 */

/* myAreaChart_three 입도현황 여백 */
#myAreaChart_three {
  padding-bottom: 1.5rem;
}
/*제주 입도 현황 height 조절*/
@media (max-width: 768px) {
  .jeju_in .card-body .chart-area {
    height: 15rem;
  }
}
/* 텍스트 숨기기 */
.ir-txt {
  display: block;
  overflow: hidden;
  text-indent: -9999px;
  font-size: 1px;
}

/* 현황 높이 맞춤 */
.status-now .card-body {
  padding: 1.6rem 0;
  height: 187px;
}
.status-detail .card-body .progress {
  width: 100%;
}

/*IE 행동수칙 height 버그 수정 */
.card-body {
  min-height: 50px;
}

div.anchor {
  display: block;
  position: relative;
  top: -63.3px;
  visibility: hidden;
}

.korea_graph_tab {
  width: 100%;
}

.korea_graph_tab .nav-item {
  width: 50%;
}

.korea_graph_tab .nav-item a {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.korea_graph_tab li::before {
  width: 0px;
  height: 0px;
}

/* 플로팅 배너 */
#floatMenu {
  position: absolute;
  width: 150px;
  height: 220px;
  left: 50px;
  top: 400px;
  background-color: #606060;
  color: #fff;
}
.container-max {
  max-width: 1920px;
}

/* Top15 font */
#Top5>h4>span {
  font-size: 0.85em;
}

#한국확진자전일비, #세계확진자전일비 {
  font-size: 0.4em;
}

/**
 * Remove excessive padding for accordion news headers
 */
.news-accordion > .card > .card-header {
  padding: 0;
}