h1.title{
  margin: 0;
}
ol li,ul li{
  position: relative;
  padding-left: 7px;
  line-height: 1.5em
}
ol li::before,ul li::before{
  position: absolute;
  content: '';
  left: 0;
  top: .6em;
  background: #888;
  width: 3px;
  height: 3px;
}
ol li li::before,ul li li::before{
  background: transparent;
  border: 1px solid #888;
}
iframe{
  border: 1px solid #e3e6f0;
}

.mt10{
  margin-top: 10px;
}
.anchor{
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
  overflow: hidden;
}

.cases-title span.desc{
  font-size: 12px;
}

.count-text{
  font-size: 32px;
  color:#212121;
  line-height: 1.25em;
}

.alert{
  font-size: 14px;
}

.table-responsive>.table-bordered{
  table-layout: fixed;
  width: 100%;
  vertical-align: middle;
}
.table thead th,.table tbody td{
  vertical-align: middle;
}

.source + .source{
  margin-top: 5px;
}
.source, .update{
  font-size: 12px;
}
.source .title, .update .title{
  display: inline-block;
  vertical-align: middle;
  background: #e74a3b;
  color:#fff;
  padding: 5px 7px 3px;
  margin-right: 3px;
  line-height: 1em;
}
.source .desc{
  display: inline;
  vertical-align: middle;
}
.source .desc a{
  display: inherit;
}
.update .title{
  background: #1cc88a;
}
.floating-donation{
  display: none;
  position: fixed;
  right: 10px;
  top: 75px;
  z-index: 1000;
}
.floating-donation button{
  width: 50px;
  height: 50px;
  padding:0;
}
#togetherModal h6{
  margin-top: 10px;
  margin-bottom: 0;
}
#togetherModal a{
  position: relative;
  display: block;
  border: 1px solid #cecece;
  overflow: hidden
}
#togetherModal .tag{
  position: absolute;
  left: -26px;
  top: 10px;
  font-size: 12px;
  background: rgba(140, 211, 46, 0.7);
  transform: rotate(-45deg);
  width: 90px;
  color: #fff;
}
#togetherModal .tag.color2{
  background: rgba(47, 120, 204, 0.7);
}
header{
  border-bottom: 1px solid #e3e6f0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  padding: 15px;
  background: #fff;
  z-index: 800;
}
header h1 img{
  vertical-align: top;
}
header h6 {
  margin: 0;
  margin-top: 10px;
}
header .m-update{
  font-weight: bold
}
header .m-none{
  margin-left: 5px;
}
.card-header{
  position: relative;
}
.card-header .right{
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%)
}
.card-header .right a{
  color:#a0a2ad;
}

.container-wrap{
  margin-top: 60px;
}
.status-detail h6{
  margin-bottom: 2px;
}
#wrapper .alert{
  margin-top: -25px;
}
.kakao-together,.cie,.wadiz{
  padding-top: .5rem;
  text-align: center;
  width: 70%;
  border-radius: 10px;
  margin:0 auto;
  background: #F4F4F4;
  font-size: 12px;
  line-height: 1em;
  margin-top: 5px;
  overflow: hidden
}
.cie{
  padding: .5rem;
}
.wadiz{
  padding: 5px;
}
.kakao-together{
  margin-top: 0;
}
.kakao-together a{
  color:#212121;
}
.kakao-together p{
  margin-bottom: 0.5rem;
}
.sidebar{
  position: fixed;
  left: 0;
  top: 60px;
  height: 100%;
  z-index: 1
}
.sidebar .sidebar-heading{
  padding:1rem 1rem .5rem;
  font-size: 16px;
  font-weight: normal
}
.sidebar hr.sidebar-divider{
  margin:1rem;
}
.sidebar .nav-item{
  padding-left: 0;
}
.sidebar .nav-item::before{
  display: none
}
.sidebar .nav-item .nav-link{
  padding:.5rem 1rem
}
.together_wrap{
  display: block;
  text-align: center;
  color:#fff;
}
.sidebar .btn_together{
  width: 60%;
}
.together_wrap p{
  margin-bottom: 0;
}
.sticky-footer{
  position: relative;
  z-index: 2;
}

.content{
  position: relative;
  background: #f9fbfd;
  padding-top: 25px;
  padding-left: 14rem;
}
.expended{
  padding-left: 6.5rem;
}

/* Cases Route Map */
.cases-route-map{
  position: relative;
}
.cases-route-map .comments{
  font-size: 12px;
  border-bottom: 1px solid #e3e6f0;
  text-align: right;
  padding-bottom: 10px;
}
.cases-route-map h4{
  position: relative;
  font-size: 18px;
}
.cases-route-map dl{
  position: relative;
  line-height: 1.25em;
  font-size: 14px;
}
.cases-route-map dl::before{
  position: absolute;
  content: '';
  left: 2px;
  top: 0;
  width: 1px;
  height:100%;
  background: #b1b1b1;
}
.cases-route-map dt{
  position: relative;
  padding-top: 6px;
  padding-left: 13px;
  color: #cc0041;
  font-weight: bold;
}
.cases-route-map dt::before{
  position: absolute;
  content: '';
  left: 0;
  top: 12px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #cc0041;
  z-index: 1;
}
.cases-route-map dt::after{
  position: absolute;
  content: '';
  left: -2px;
  top: 10px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  border: 1px solid #cc0041;
  background: #fff;
}
.cases-route-map dd{
  padding-left: 14px;
  margin-top: 10px;
  color:#6b6b6b;
  line-height: 1.5em;
}
.cases-route-map dd::after{
  clear: both;
  content: '';;
  display: table;
}
.cases-route-map dd.desc .contact{
  position: relative;
  padding-left: 6px;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.5em;
}
.cases-route-map dd.desc .contact::before{
  position: absolute;
  content: '';
  left: 0;
  top: 5px;
  width: 4px;
  height: 4px;
  background: #cc0041;
}

.cases-route-map .info-box{
  margin-top: 15px;
  padding: 7px;
  background: #f8f9fc;
  border: 1px solid #b1b1b1;
  font-size: 12px;
  margin-bottom: 10px;
}
.cases-route-map .info-box ul{
  margin-bottom: 0;
}
.scroll-to-top{
  z-index: 3
}
.status-now .card-body.status-jeju{
  padding-top: 60px;
}

/* Chart */
.korea_chart_tags{
  text-align: right;
  padding: 7px 7px 0 0;
  font-size: 12px;
}
.korea_chart_tags span{
  position: relative;
  display: inline-block;
  margin-left: 5px;
}
.korea_chart_tags span::before{
  position: relative;
  display: inline-block;
  content: '';
  top: -1px;
  width: 10px;
  height: 5px;
  vertical-align: middle;
  margin-right: 5px;
}
.korea_chart_tags span.tag_01::before{
  background: #4D73DF;
}
.korea_chart_tags span.tag_02::before{
  background: #1CC88A;
}
.korea_chart_tags span.tag_03::before{
  background: #36B9CC;
}
.korea_chart_tags span.tag_04::before{
  background: #F6C23E;
}
.korea_chart_tags span.tag_05::before{
  background: #e74a3b;
}

/* Top 15 */
#Top5 .korea_chart_tags{
  margin-bottom: 10px;
}
.top_title {
  position: relative;
}
.top_title div:first-child{
  font-size: 16px;
  margin-bottom: 5px;
  font-weight: bold;
}
.top_title .rate{
  text-align: right;
}

footer{
  border-top: 1px solid #e3e6f0;
}

@media (max-width: 960px) {
  .kakao-together{
    display: none;
  }
  .floating-donation{
    display: block;
  }
  .status-now .card-body.status-jeju{
    height: auto;
    padding: 20px 0;
  }
  .sidebar{
    overflow-y: auto;
  }
  .sidebar .nav-item .nav-link{
    padding-top: .15rem;
    padding-bottom: .15rem;
  }
  .m-mt-1{
    margin-top: 0;
  }
}
@media (max-width: 760px) {
  h1.title{
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
    padding: 4px 0;
  }
  #sidebarToggleTop{
    position: absolute;
    left: 5px;
    top: 50%;
    font-size: 20px;
    line-height: 1em;
    transform: translateY(calc(-50% + 7px));
  }
  header{
    height:auto;
    padding:25px 0 10px;
  }
  header h1 img{
    width: 18px;
  }
  header .float-right .m-none{
    display: none;
  }
  header .m-update{
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 11px;
    background: #e74a3b;
    padding: 2px 4px;
    color:#fff;
  }
  .sidebar{
    width:auto;
    top: 65px;
  }
  .container-wrap{
    margin-top: 0;
  }
  .sidebar .btn_together,.together_wrap p{
    display: none;
  }
  .content{
    margin-left: 0;
    padding-top: 95px;
    padding-left: 90px;
  }
  .expended{
    padding-left: 0;
  }
  .table-responsive>.table-bordered{
    width: 500px;
  }
  .m-mt-1{
    margin-top: 10px;
  }
}
