.covid-simulator {
  max-width: 800px;
}
canvas {
  box-sizing: border-box;
  width: 100%;
}
.canvas {
  border: 1px solid gray;
}
.covid-status {
  margin: 0;
  padding: 0;
}
.covid-status li {
  display: flex;
  align-items: center;
  margin: 0.5em 0;
}
.covid-status .label {
  width: 80px;
}
.covid-status .bar-container {
  width: calc(100% - 80px);
}
.covid-status .bar {
  width: 0;
  height: 3px;
  transition: width 0.3s;
}
.healthy {
  color: silver;
}
.healthy .bar {
  background: silver;
}
.sick {
  color: red;
}
.sick .bar {
  background: red;
}
.recovered {
  color: blue;
}
.recovered .bar {
  background: blue;
}
.canvas-container {
  position: relative;
}


.simulation-btn {
  cursor: pointer;
}


.stop .simulation-btn {
  display: inline-block;
}
