footer {
  background: #ffffff;
  border-top: 1px solid #D8DEE9;
  .top {
    border-bottom: 1px solid #E5E9F0;
    padding: 0.5rem 0;
    font-weight: 700;
    font-size: 0.9rem;
  }
  .body {
    padding: 1rem 0;
    font-weight: 300;
    font-size: 0.8rem;
    line-height: 1rem;
  }
}